@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
	--primary-color: #384aff;
	--accent-color: #4f46e5;
	--bg-color: #e5e7eb;
	--text-color: #374151;
	--link-color: #444444;
	--heading-color: #111827;
	--border-color: #e5e7eb;
	--header-bg: white;
	--block-bg: transparent;
	--shadow-color: #0001;
}

@layer base {
	#__next {
		@apply bg-skin-bg font-sans text-base text-skin-text antialiased;
	}

	body {
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold text-skin-heading;
	}

	a,
	button,
	input {
		@apply transition-colors;
	}

	b {
		@apply font-semibold;
	}

	select {
		@apply bg-skin-bg;
	}
}

@import url('./loading.css');
@import url('./modal.css');
